.Weather5Days{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.WeatherDay{
    box-sizing: border-box;
    width: 80%;
    background: #20d6df;
    margin-bottom: 1rem;
    padding:1rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}