.Header{
    width: 100vw;
    height: 7rem;
    background-color: #20d6dfd9;
    color: #fff;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5%;
}

.About-Btn{
    background: #FFB258;
    padding:0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


@media only screen and (max-width: 700px)  {
    .Header{
        height: 5rem;
    }
    .About-Btn{
        display: none;
    }
    
}